#accountimg{
    font-size: 45px;
}

#commentaccountimg{
  font-size: 35px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48;
  color: black;
}



.rate .material-symbols-outlined{
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48;
  color: black;
  font-size: 25px;
}