{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rateit</title>
    <link rel="stylesheet" type="text/css" href="{% static 'profiles/css/land.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'profiles/css/text.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'profiles/css/icon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'profiles/css/elements.css' %}">
    <!-- icons -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    {% comment %} included menu here {% endcomment %}
    {% include "menu.html" %}
    
    {% comment %} included feed here {% endcomment %}
    {% include "feed.html" %}
    
    {% comment %} included suggestions here {% endcomment %}
    {% include "suggestions.html" %}

    {% comment %} included explore here and its display would be none {% endcomment %}
    {% include "explore.html" %}

    {% comment %} included profile here and its display would be none {% endcomment %}
    {% include "profile.html" %}

    {% comment %} included reels here and its display would be none {% endcomment %}
    {% include "reels.html" %}
    <script src="{% static 'profiles/js/menuelements.js'%}"></script>
</body>


</html>