{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rateit</title>
    <link rel="stylesheet" type="text/css" href="{% static 'profiles/css/land.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'profiles/css/text.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'profiles/css/icon.css' %}">
    <!-- icons -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <div class="menu box">
        <div class="logodiv">
            <a href="{%url 'home'%}">
                <p class="logo">Rateit</p>
            </a>
        </div>
        <div id="cmdholder">
            <ul>
                <a href="">
                    <li class="row">
                        <span class="material-symbols-outlined" id="home">
                            home
                        </span>
                        <p class="text"> Home </p>
                    </li>
                </a>
                <a href="">
                    <li class="row">
                        <span class="material-symbols-outlined" id="home">
                            search
                        </span>
                        <p class="text"> Search </p>
                    </li>
                </a>
                <a href="">
                    <li class="row"><span class="material-symbols-outlined" id="home">
                            explore
                        </span>
                        <p class="text"> Explore </p>
                    </li>
                </a>
                <a href="">
                    <li class="row">
                        <span class="material-symbols-outlined" id="home">
                            play_arrow
                        </span>
                        <p class="text"> Reels </p>
                    </li>
                </a>
                <a href="">
                    <li class="row">
                        <span class="material-symbols-outlined" id="home">
                            chat
                        </span>
                        <p class="text"> Messages </p>
                    </li>
                </a>
                <a href="">
                    <li class="row">
                        <span class="material-symbols-outlined" id="home">
                            notifications
                        </span>
                        <p class="text"> Notification </p>
                    </li>
                </a>
                <a href="">
                    <li class="row"><span class="material-symbols-outlined" id="home">
                            add_circle
                        </span>
                        <p class="text"> Create </p>
                    </li>
                </a>
                <a href="">
                    <li class="row">
                        <span class="material-symbols-outlined" id="home">
                            account_circle
                        </span>
                        <p class="text"> Profile </p>
                    </li>
                </a>
            </ul>
        </div>
        
        <div class="row" id="more">
            <span class="material-symbols-outlined" id="home">
                menu
            </span>
            <p class="text" id="moretext">More</p>
        </div>
    </div>

    <div class="feed">
        <div class="storyholder">
            <span class="material-symbols-outlined" id="accountimg">
                account_circle
            </span>
            <span class="material-symbols-outlined" id="accountimg">
                account_circle
            </span>
            <span class="material-symbols-outlined" id="accountimg">
                account_circle
            </span>
            <span class="material-symbols-outlined" id="accountimg">
                account_circle
            </span>
            <span class="material-symbols-outlined" id="accountimg">
                account_circle
            </span>
            <span class="material-symbols-outlined" id="accountimg">
                account_circle
            </span>

        </div>
        <!-- feed card -->
        <div class="card">
            <div class="nameholder">
                <p class="subheading">Anurag Kumar Tiwari 3h</p>
            </div>
            <div class="img">
                <img src="https://images.pexels.com/photos/1366919/pexels-photo-1366919.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="">
            </div>
            <div class="rate">
                <span class="material-symbols-outlined" id="home">
                    star
                </span>
                <span class="material-symbols-outlined" id="home" style="padding-top: 3px;">
                    comment
                </span>
            </div>
            <div class="comments">
                <p class="heading">Comments</p>
                <!-- comments -->
                <div class=" row">
                    <span class="material-symbols-outlined" id="commentaccountimg">
                        account_circle
                    </span>
                    <p class="text">Anurag Kumar Tiwari</p>
                    <p class="text">nice img</p>
                </div>
                <div class=" row" style="margin: 5px 0px;">
                    <span class="material-symbols-outlined" id="commentaccountimg">
                        account_circle
                    </span>
                    <p class="text">Elon Musk</p>
                    <p class="text">wanna come over</p>
                </div>
            </div>
        </div>
        <!-- feed card -->
        <div class="card">
            <div class="nameholder">
                <p class="subheading">Rovshan Nazrili 7h</p>
            </div>
            <div class="img">
                <img src="https://images.pexels.com/photos/20147829/pexels-photo-20147829/free-photo-of-businesswoman-in-black-suit.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="">
            </div>
            <div class="rate">
                <span class="material-symbols-outlined" id="home">
                    star
                </span>
                <span class="material-symbols-outlined" id="home" style="padding-top: 3px;">
                    comment
                </span>
            </div>
            <div class="comments">
                <p class="heading">Comments</p>
                <!-- comments -->
                <div class=" row">
                    <span class="material-symbols-outlined" id="commentaccountimg">
                        account_circle
                    </span>
                    <p class="text">Anurag Kumar Tiwari</p>
                    <p class="text">nice img</p>
                </div>
                <div class=" row" style="margin: 5px 0px;">
                    <span class="material-symbols-outlined" id="commentaccountimg">
                        account_circle
                    </span>
                    <p class="text">Elon Musk</p>
                    <p class="text">wanna come over</p>
                </div>
            </div>
        </div>
        <!-- feed card -->
        <div class="card">
            <div class="nameholder">
                <p class="subheading">Rovshan Nazrili 7h</p>
            </div>
            <div class="img">
                <img src="https://images.pexels.com/photos/11717274/pexels-photo-11717274.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="">
            </div>
            <div class="rate">
                <span class="material-symbols-outlined" id="home">
                    star
                </span>
                <span class="material-symbols-outlined" id="home" style="padding-top: 3px;">
                    comment
                </span>
            </div>
            <div class="comments">
                <p class="heading">Comments</p>
                <!-- comments -->
                <div class=" row">
                    <span class="material-symbols-outlined" id="commentaccountimg">
                        account_circle
                    </span>
                    <p class="text">Anurag Kumar Tiwari</p>
                    <p class="text">nice img</p>
                </div>
                <div class=" row" style="margin: 5px 0px;">
                    <span class="material-symbols-outlined" id="commentaccountimg">
                        account_circle
                    </span>
                    <p class="text">Elon Musk</p>
                    <p class="text">wanna come over</p>
                </div>
            </div>
        </div>
        <!-- feed card -->
        <div class="card">
            <div class="nameholder">
                <p class="subheading">Rovshan Nazrili 7h</p>
            </div>
            <div class="img">
                <img src="https://images.pexels.com/photos/20345175/pexels-photo-20345175/free-photo-of-black-and-white-photo-of-train-tracks-and-wires.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="">
            </div>
            <div class="rate">
                <span class="material-symbols-outlined" id="home">
                    star
                </span>
                <span class="material-symbols-outlined" id="home" style="padding-top: 3px;">
                    comment
                </span>
            </div>
            <div class="comments">
                <p class="heading">Comments</p>
                <!-- comments -->
                <div class=" row">
                    <span class="material-symbols-outlined" id="commentaccountimg">
                        account_circle
                    </span>
                    <p class="text">Anurag Kumar Tiwari</p>
                    <p class="text">nice img</p>
                </div>
                <div class=" row" style="margin: 5px 0px;">
                    <span class="material-symbols-outlined" id="commentaccountimg">
                        account_circle
                    </span>
                    <p class="text">Elon Musk</p>
                    <p class="text">wanna come over</p>
                </div>
            </div>
        </div>

    </div>
    <div class="suggestions box">
        <!-- suggestions -->
        <div class="section">
            <ul id="switch">
                <a href="{% url 'logout' %}">
                    <li class="row">
                        <span class="material-symbols-outlined" id="home">
                            switch_account
                        </span>
                        <p class="text"> Switch Accounts </p>
                    </li>
                </a>
            </ul>
        </div>
        <div class="section">
            <p class="heading text">Friend Requests</p>

            <div class="friendcard box ">
                <!-- friend request card -->
                <div class="imgandname row"><span class="material-symbols-outlined" id="accountimg">
                        account_circle
                    </span>
                    <p class="text">Anurag Kumar Tiwari</p>
                </div>
                <div class=" row">
                    <button class="btn-primary">Confirm</button>
                    <button class="btn-secondary">Delete</button>
                </div>
            </div>

            <div class="friendcard box ">
                <!-- friend request card -->
                <div class="imgandname row"><span class="material-symbols-outlined" id="accountimg">
                        account_circle
                    </span>
                    <p class="text">Shreyansh Agrawal</p>
                </div>
                <div class=" row">
                    <button class="btn-primary">Confirm</button>
                    <button class="btn-secondary">Delete</button>
                </div>

            </div>

        </div>
        <div class="section">
            <p class="heading text">Suggestions</p>
            <!-- suggestions card -->
            <div class="suggcard ">
                <div class="imgandname holder"><span class="material-symbols-outlined" id="accountimg">
                        account_circle
                    </span>
                    <p class="text">Anuj Singh</p>
                </div>
                <div class="holder">
                    <button class="btn-success">Add Friend</button>
                </div>
            </div>

            <div class="suggcard ">
                <div class="imgandname holder"><span class="material-symbols-outlined" id="accountimg">
                        account_circle
                    </span>
                    <p class="text">Aditya Singh</p>
                </div>
                <div class="holder">
                    <button class="btn-success">Add Friend</button>
                </div>
            </div>

            <div class="suggcard ">
                <div class="imgandname holder"><span class="material-symbols-outlined" id="accountimg">
                        account_circle
                    </span>
                    <p class="text">Disha Shukla</p>
                </div>
                <div class="holder">
                    <button class="btn-success">Add Friend</button>
                </div>
            </div>
        </div>
    </div>
</body>


</html>