
<div class="menu box">
    <div class="logodiv">
        <a href="{%url 'home'%}">
            <p class="logo">Rateit</p>
        </a>
    </div>
    <div id="cmdholder">
        <ul>
            <a href="">
                <li class="row">
                    <span class="material-symbols-outlined" id="home">
                        home
                    </span>
                    <p class="text"> Home </p>
                </li>
            </a>
            <a href="">
                <li class="row">
                    <span class="material-symbols-outlined" id="home">
                        search
                    </span>
                    <p class="text"> Search </p>
                </li>
            </a>
            <a href="">
                <li class="row"><span class="material-symbols-outlined" id="home">
                        explore
                    </span>
                    <p class="text"> Explore </p>
                </li>
            </a>
            <a href="">
                <li class="row">
                    <span class="material-symbols-outlined" id="home">
                        play_arrow
                    </span>
                    <p class="text"> Reels </p>
                </li>
            </a>
            <a href="">
                <li class="row">
                    <span class="material-symbols-outlined" id="home">
                        chat
                    </span>
                    <p class="text"> Messages </p>
                </li>
            </a>
            <a href="">
                <li class="row">
                    <span class="material-symbols-outlined" id="home">
                        notifications
                    </span>
                    <p class="text"> Notification </p>
                </li>
            </a>
            <a href="">
                <li class="row"><span class="material-symbols-outlined" id="home">
                        add_circle
                    </span>
                    <p class="text"> Create </p>
                </li>
            </a>
            <a href="">
                <li class="row">
                    <span class="material-symbols-outlined" id="home">
                        account_circle
                    </span>
                    <p class="text"> Profile </p>
                </li>
            </a>
        </ul>
    </div>
    
    <div class="row" id="more">
        <span class="material-symbols-outlined" id="home">
            menu
        </span>
        <p class="text" id="moretext">More</p>
    </div>
</div>