<div class="suggestions box" id="suggestions">
    <!-- suggestions -->
    <div class="section">
        <ul id="switch">
            <a href="{% url 'logout' %}">
                <li class="row">
                    <span class="material-symbols-outlined" id="home">
                        switch_account
                    </span>
                    <p class="text"> Switch Accounts </p>
                </li>
            </a>
        </ul>
    </div>
    <div class="section">
        <p class="heading text">Friend Requests</p>

        <div class="friendcard box ">
            <!-- friend request card -->
            <div class="imgandname row"><span class="material-symbols-outlined" id="accountimg">
                    account_circle
                </span>
                <p class="text">Anurag Kumar Tiwari</p>
            </div>
            <div class=" row">
                <button class="btn-primary">Confirm</button>
                <button class="btn-secondary">Delete</button>
            </div>
        </div>

        <div class="friendcard box ">
            <!-- friend request card -->
            <div class="imgandname row"><span class="material-symbols-outlined" id="accountimg">
                    account_circle
                </span>
                <p class="text">Shreyansh Agrawal</p>
            </div>
            <div class=" row">
                <button class="btn-primary">Confirm</button>
                <button class="btn-secondary">Delete</button>
            </div>

        </div>

    </div>
    <div class="section">
        <p class="heading text">Suggestions</p>
        <!-- suggestions card -->
        <div class="suggcard ">
            <div class="imgandname holder"><span class="material-symbols-outlined" id="accountimg">
                    account_circle
                </span>
                <p class="text">Anuj Singh</p>
            </div>
            <div class="holder">
                <button class="btn-success">Add Friend</button>
            </div>
        </div>

        <div class="suggcard ">
            <div class="imgandname holder"><span class="material-symbols-outlined" id="accountimg">
                    account_circle
                </span>
                <p class="text">Aditya Singh</p>
            </div>
            <div class="holder">
                <button class="btn-success">Add Friend</button>
            </div>
        </div>

        <div class="suggcard ">
            <div class="imgandname holder"><span class="material-symbols-outlined" id="accountimg">
                    account_circle
                </span>
                <p class="text">Disha Shukla</p>
            </div>
            <div class="holder">
                <button class="btn-success">Add Friend</button>
            </div>
        </div>
    </div>
</div>
